body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #163152;
  background: #FDFDFF;
}

.nav-item a{
  font-size: 14px;
  line-height: 18px;
  color: #163152;
  text-decoration: none;
  text-transform: uppercase;
}

.hero h1{
  /*italic подключить в html*/
  font-style: italic;
  font-weight: normal;
  font-size: 44px;
  line-height: 60px;
  text-transform: uppercase;
}

.blog-article .datetime{
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.blog-article h2{
  font-size: 24px;
  line-height: 34px;
  text-decoration: underline;
  text-decoration-color: #00c6bd;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  text-underline-position: under;
}

.contacts h2{
  font-size: 24px;
  line-height: 34px;
  text-decoration: underline;
  text-decoration-color: #00c6bd;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  text-underline-position: under;
}

.contacts-item h3,
.contacts-item{
  font-size: 16px;
  line-height: 22px;
}

.contacts-item a{
  color: #163152;
  text-decoration: none;
}

.contact-item address {
  font-style: normal;
}

.main-footer{
  font-size: 10px;
  line-height: 12px;
}

.main-footer .policy-footer{
  font-size: 10px;
  line-height: 12px;
  color: #163152;
  text-decoration: none;
}

.info-list h2{
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.yeacht-club-item a,
.company-item a,
.service-item a,
.competitions-item a{
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #163152;
}

.news h2{
  font-size: 24px;
  line-height: 34px;
  text-decoration: underline;
  text-decoration-color: #00c6bd;
  text-underline-offset: 15px;
  text-underline-position: under;
  text-decoration-thickness: 2px;
  text-align: center;
}

.winner-description{
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #8693A4;
}

.news h3{
  font-size: 22px;
  line-height: 26px;
}

.news h3::nth-child(2){
  font-size: 20px;
}

.news p,
.news .roaster-item{
  font-size: 18px;
  line-height: 26px;
}

.winner-quote{
  font-size: 26px;
  line-height: 36px;
  font-weight: 700;
  border-left: 2px solid #00c6bd;
  padding-left: 15px;
  margin-left: 0;
}

.article-author{
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
}

.news time{
  font-size: 16px;
  line-height: 19px;
  color: #8693A4;
}

.gallery{
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 80px;
  /*по макету margin-bottom: 120px;*/
}

.gallery h2{
  font-style: 24px;
  line-height: 34px;
  margin-top: 0;
  margin-bottom: 55px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #00c6bd;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
}

.gallery-container{
  display: flex;
  justify-content: space-between;
}

.gallery-main-img{
  width: 970px;
}

.gallery-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.gallery-list-item{
  width: 170px;
  margin-bottom: 30px;
}

.gallery-list-item:last-child{
  margin-bottom: 0;
}

.header-main{
  width: 1170px;
  margin: 0 auto; 
  padding: 20px 55px;
  margin-bottom: 40px;
}

.nav-main{
  display: flex;
}

.logo{
  margin: 0;
  width: 64px;
}

.nav-list{
  margin: 0;
  padding: 0;
  list-style: none;
  width: 559px;
  margin-left: auto;
}

.account{
  width: 36px;
  margin-left: 40px;
}

.main-content{
  width: 1170px;
  margin: 0 auto;
  padding: 0 55px;
}

.hero{
  margin-bottom: 120px;
}

.hero h1{
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.blog-article{
  margin: 0 auto;
  width: 1030px;
  display: flex;
  justify-content: space-between;
}

.blog-article-1{
  margin-bottom: 100px;
}

.blog-article-2{
  margin-bottom: 120px;
  flex-direction: row-reverse;
}

.blog-article-container{
  width: 400px;
  
}

.blog-article-container img{
  width: 600px;
}

.blog-article h2{
  margin-top: 10px;
  margin-bottom: 35px;
}

.blog-article-container p{
  margin: 0;
  padding: 0;
}

.news{
  width: 770px;
  margin: 0 auto;
  margin-bottom: 80px;
  /*согласно макету margin-bottom: 120px; на проверку подошло 80*/
}

.news h2{
  margin-top: 0;
  margin-bottom: 55px;
}


.winner-preview{
  margin: 0;
  padding:0;
}

.contacts{
  width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
}

.map-img{
  width: 670px;
  margin-right: 120px;
}

.contacts-info{
  width: 100%;
}

.main-footer{
  width: 1280px;
  margin: 0 auto;
  margin-top: 120px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-wrapper{
  width: 1170px;
  margin: 0 auto;
  padding: 0 55px;
  display: flex;
  justify-content: space-between;
}

.footer-logo-wrapper{
  width: 175px;
}

.footer-logo-wrapper .footer-logo{
  width: 100px;
}

.info-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  
  width: 870px;
}

.info-list-item{
  width: 165px;
}

.info-list-item:last-child{
  margin-right: 0;
}

.info-list-item ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.info-list-item h2{
  margin-top: 0;
  margin-bottom: 20px;
}