body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #163152;
  background: #FDFDFF;
}

.nav-item a{
  font-size: 14px;
  line-height: 18px;
  color: #163152;
  text-decoration: none;
  text-transform: uppercase;
}

.account{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  border: 1px solid #00C6BD;
  border-radius: 50%;
  width: 34px;
  height: 34px;
}

.account img{
  width: 16px;
  height: 18px;
}

.account:hover{
  opacity: 0.5;
}

.account:active{
  opacity: 0.3;
}

.hero{
  margin-bottom: 120px;
}

.hero h1{
  font-style: italic;
  font-weight: normal;
  font-size: 44px;
  line-height: 60px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.hero img{
  display: block;
}

.blog-article{
  margin: 0 auto;
  width: 1030px;
  display: flex;
  justify-content: space-between;
}

.blog-article .datetime{
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.blog-article h2{
  font-size: 24px;
  line-height: 34px;
  text-decoration: underline;
  text-decoration-color: #00c6bd;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  text-underline-position: under;
  margin-top: 10px;
  margin-bottom: 35px;
}

.blog-article-1{
  margin-bottom: 100px;
}

.blog-article-2{
  margin-bottom: 120px;
  flex-direction: row-reverse;
}

.blog-article-container{
  width: 400px;
  
}

.blog-article-container img{
  width: 600px;
}

.blog-article-container p{
  margin: 0;
  padding: 0;
}

.more {
  padding: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  color: inherit;
  text-decoration-line: underline;
  background-color: transparent;
  border: none;

  /* Элемент скрыт в развернутой статье */
  display: none;
}

.more:hover {
  text-decoration: none;
  opacity: 0.5;
}

.more:active {
  text-decoration: none;
  opacity: 0.3;
}

/* Сокращенное отображение статьи */

.blog-article.short .blog-description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.blog-article.short .more {
  /* Показываем элемент в свернутой статье */
  display: inline-block;
}

.main-footer{
  font-size: 10px;
  line-height: 12px;
}

.main-footer .policy-footer{
  font-size: 10px;
  line-height: 12px;
  color: #163152;
  text-decoration: none;
}

.info-list h2{
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.yeacht-club-item a,
.company-item a,
.service-item a,
.competitions-item a{
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #163152;
}

.winner-description{
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #8693A4;
}

.news p,
.news .roaster-item{
  font-size: 18px;
  line-height: 26px;
}

.article-author{
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
}

.news time{
  font-size: 16px;
  line-height: 19px;
  color: #8693A4;
}

.rent{
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.rent h2{
  font-size: 24px;
  line-height: 34px;
  margin-top: 0;
  margin-bottom: 55px;

  text-decoration: underline;
  text-decoration-color: #00C6BD;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  text-underline-position: under;
}

.rent-item-img{
  width: 310px;
  display: block;
  margin-bottom: 21px;
}

.rent-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.rent-item h3{
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 18px;
  max-width: 310px;

  margin-top: 21px;
  margin-bottom: 18px;
}

.rent-item p{
  font-size: 14px;
  line-height: 24px;
  max-width: 310px;
  margin: 15px 0;  
}

.rent-item{
  width: 310px;
  padding: 30px;
  box-shadow: 0 4px 30px rgba(22, 49, 82, 0.12);
}

.specification-list{
  margin: 0;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 29px;
  margin-left: 18px;
  list-style-type: disc;
}

.specification-item{
  font-size: 14px;
  line-height: 19px;
  max-width: 292px;
  margin-bottom: 4px;
}

.specification-item:last-child{
  margin-bottom: 0;
}

.price-info{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.price-info span{
  font-size: 18px;
  line-height: 21px;
}

/* Вертикальная раскладка карточек списком */

.rent-list.list {
  flex-direction: column;
}

.rent-list.list .rent-item {
  display: flex;
  width: 1110px;
  margin: 0;
  margin-bottom: 30px;
}

.rent-list.list .rent-item-img {
  width: 340px;
  height: 211px;
  margin: 0;
  margin-right: 30px;
  object-fit: cover;
}

.rent-list.list .rent-item-title {
  margin: 0;
  margin-bottom: 10px;
}

.rent-list.list .specification-list {
  margin: 0;
  margin-left: 18px;
}

.rent-list.list .rent-item-content {
  margin-right: auto;
  max-width: 345px;
}

.rent-list.list .price-info {
  margin: 0;
}

.rent-list.list .card-price-name {
  display: none;
}

/* стили переключателей раскладки в разделе аренда*/

.rent header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
}

.card-view-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 15px;
  padding: 0;
  margin: 0;
  max-width: 800px;
  list-style: none;
}

.card-view-button-grid {
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url("../img/grid.svg");
  border: 1px solid #00c6bd;
  border-radius: 50%;
  cursor: pointer;
}

.card-view-button-grid:hover {
  opacity: 0.5;
}

.card-view-button-grid:active {
  opacity: 0.3;
}

.card-view-button-grid.active {
  background-image: url("../img/grid-light.svg");
}

.card-view-button-list {
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url("../img/list.svg");
  border: 1px solid #00c6bd;
  border-radius: 50%;
  cursor: pointer;
}

.card-view-button-list:hover {
  opacity: 0.5;
}

.card-view-button-list:active {
  opacity: 0.3;
}

.card-view-button-list.active {
  background-image: url("../img/list-light.svg");
}

.gallery{
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 80px;
  /*по макету margin-bottom: 120px;*/
}

.gallery h2{
  font-style: 24px;
  line-height: 34px;
  margin-top: 0;
  margin-bottom: 55px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #00c6bd;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
}

.gallery-container{
  display: flex;
  justify-content: space-between;
}

.gallery-main-img{
  width: 970px;
}

.gallery-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.gallery-list-item{
  width: 170px;
  margin-bottom: 30px;
}

.gallery-list-item:last-child{
  margin-bottom: 0;
}

.gallery-list-item a{
  display: block;
  position: relative;
}

.gallery-list img {
  display: block;
 } 

.gallery-list-item a::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(253, 253, 255, 0.5);
}

.gallery-list a.active::before{
  background-color: transparent;
}

.article-preview img{
  margin-bottom: 17px;
  display: block;
}

.article-preview{
  margin: 0;
  padding:0;
}
/*
.news-article h3{
  margin-top: 33px;
  margin-bottom: 27px;
}*/

.gallery-list a.active-item::before {
  background-color: transparent;
}

.gallery-main-img {
  width: 970px;
  margin-right: 30px;
}

.news{
  width: 770px;
  margin: 0 auto;
  margin-bottom: 80px;
  /*согласно макету margin-bottom: 120px; на проверку подошло 80*/
}

.news h2{
  margin-top: 0;
  margin-bottom: 55px;
  font-size: 24px;
  line-height: 34px;
  text-decoration: underline;
  text-decoration-color: #00c6bd;
  text-underline-offset: 15px;
  text-underline-position: under;
  text-decoration-thickness: 2px;
  text-align: center;
}

.news h3{
  font-size: 22px;
  line-height: 26px;
}

.news h3::nth-child(2){
  font-size: 20px;
}

.news-article p{
  margin: 0;
  margin-bottom: 12px;
}

.news-article h3{
  margin-top: 33px;
  font-weight: bold;
  margin-bottom: 27px;
}

.news h4{
  font-size: 20px;
  line-height: 26px;
  margin-top: 24px;
  margin-bottom: 15px;
}

.roaster-list{
  padding:0;
  margin: 0;
  padding-left: 19px;
  margin-bottom: 30px;
}

.roaster-list-item{
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 26px;
}


.roaster-list-item:first-child{
  margin-top: 15px;
}

.article-quote{
  font-size: 26px;
  line-height: 36px;
  font-weight: 700;
  border-left: 2px solid #00c6bd;
  padding-left: 15px;
  margin-left: 0;
  margin-top: 38px;
  margin-bottom: 30px;
}

.author{
  width: 770px;
  display: flex;
  margin-top: 40px;
  align-items: center;
}
.author-info{
  margin-left: 15px;
  margin-right: auto;
}

.author-info p{
  margin: 0;
  margin-bottom: 9px;
  font-size: 16px;
  line-height: 19px;
}

.author-info p:last-child{
  margin-bottom: 0;
}

.author-img{
  width: 60px;
  height: 60px;
}

.author .share{
  display: block;
  width: 26px;
  height: 22px;
}

.author .share:hover{
  opacity: 0.5;
}

.author .share:active{
  opacity: 0.3;
}

.header-main{
  width: 1170px;
  margin: 0 auto; 
  padding: 20px 55px;
  margin-bottom: 40px;
}

.nav-main{
  display: flex;
  align-items: center;
}

.logo{
  margin: 0;
  width: 64px;
}

.nav-list{
  margin: 0;
  padding: 0;
  list-style: none;
  /*width: 559px;*/
  margin-left: auto;
  display: flex;
  gap: 30px;
}

.nav-list a:hover,
.footer-nav-list a:hover{
  color: rgba(22, 49, 82, 0.5);
}

.nav-list a:active,
.footer-nav-list a:active{
  color: rgba(22, 49, 82, 0.3);
}

.main-content{
  width: 1170px;
  margin: 0 auto;
  padding: 0 55px;
}

.contacts h2{
  font-size: 24px;
  line-height: 34px;
  text-decoration: underline;
  text-decoration-color: #00c6bd;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  text-underline-position: under;
  margin-bottom: 35px;
}

.contacts-item h3,
.contacts-item{
  font-size: 16px;
  line-height: 22px;
}

.contacts-item a{
  color: #163152;
  text-decoration: none;
}

.contact-item address {
  font-style: normal;
}

.contacts{
  width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.map-img{
  width: 670px;
  margin-right: 120px;
  display: block;
}

.contacts-info{
  width: 100%;
  
}

.contacts-list{
  margin: 0;
  padding: 0;
  list-style: none;
  
}

.contacts-list h3{
  margin: 0;
}

.contacts-item{
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 15px;
}

.contacts-item:last-child{
  display: block;
}

.contacts .socials-list{
  margin: 0;
  padding: 0; 
  list-style: none;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 15px;
}

.contacts .socials-item a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border: 1px solid #00C6BD;
  border-radius: 50%;
}

.contacts .socials-item a:hover{
  opacity: 0.5;
}

.contacts .socials-item a:active{
  opacity: 0.3;
}

.contacts-list address{
  font-style: normal;
}

.main-footer{
  width: 1280px;
  margin: 0 auto;
  margin-top: 120px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-wrapper{
  width: 1170px;
  margin: 0 auto;
  padding: 0 55px;
  display: flex;
  justify-content: space-between;
}

.footer-logo-wrapper{
  width: 175px;
}

.footer-logo-wrapper .footer-logo{
  width: 100px;
}

.footer-logo{
  display: block;
  margin-bottom: 30px;
}

.footer-logo-wrapper p{
  margin: 0;
  margin-bottom: 8px;
}

.footer-logo-wrapper p:last-child{
  margin-bottom: 0;
}

.footer-nav-item{
  margin-bottom: 12px;
}

.footer-nav-item:last-child{
  margin-bottom: 0;
}

.info-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  
  width: 870px;
}

.info-list-item{
  width: 165px;
}

.info-list-item:last-child{
  margin-right: 0;
}

.info-list-item ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.info-list-item h2{
  margin-top: 0;
  margin-bottom: 20px;
}

.header-main{
  width: 1170px;
  margin: 0 auto; 
  padding: 20px 55px;
  margin-bottom: 40px;
}

/* fonts */
/* services */

.services {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(22, 49, 82, 0.1);
}

.services-content {
  display: flex;
  align-items: center;
  width: 1170px;
  margin: 0 auto;
}

.location {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 25px;
  margin-right: auto;
  font-size: 14px;
  line-height: 14px;
  color: inherit;
  text-decoration: none;
  background-image: url("../img/pin.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.location:hover {
  opacity: 0.5;
}

.location:active {
  opacity: 0.3;
}

.caption {
  margin: 0;
  margin-right: 10px;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

.theme-switcher {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 30px;
  display: flex;
  flex-wrap: wrap;
}

.theme-switcher li {
  margin-right: 10px;
}

.theme-switcher li:last-child {
  margin-right: 0;
}

.theme-button-light {
  display: block;
  width: 32px;
  height: 32px;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url("../img/sun.svg");
  border: 1px solid #00c6bd;
  border-radius: 50%;
  cursor: pointer;
}

.theme-button-light:hover {
  opacity: 0.5;
}

.theme-button-light:active {
  opacity: 0.3;
}

.theme-button-light.active {
  background-image: url("../img/sun-light.svg");
}

.theme-button-dark {
  display: block;
  width: 32px;
  height: 32px;
  padding: 0;
  background-image: url("../img/moon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 1px solid #00c6bd;
  border-radius: 50%;
  cursor: pointer;
}

.theme-button-dark:hover {
  opacity: 0.5;
}

.theme-button-dark:active {
  opacity: 0.3;
}

.theme-button-dark.active {
  background-image: url("../img/moon-light.svg");
}

.fonts {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.fonts li {
  margin-right: 10px;
}

.fonts li:last-child {
  margin-right: 0;
}

.font-button-sans-serif {
  display: block;
  width: 32px;
  height: 32px;
  padding: 0;
  font-size: 16px;
  line-height: 14px;
  background-color: transparent;
  border: 1px solid #00c6bd;
  border-radius: 50%;
  cursor: pointer;
}

.font-button-sans-serif:hover {
  opacity: 0.5;
}

.font-button-sans-serif:active {
  opacity: 0.3;
}

.font-button-serif {
  display: block;
  width: 32px;
  height: 32px;
  padding: 0;
  font-family: "Philosopher", serif;
  font-size: 16px;
  line-height: 14px;
  background-color: transparent;
  border: 1px solid #00c6bd;
  border-radius: 50%;
  cursor: pointer;
}

.font-button-serif:hover {
  opacity: 0.5;
}

.font-button-serif:active {
  opacity: 0.3;
}

/* Выделение активной кнопки */

.active {
  background-color: #00c6bd;
  color: #fdfdff;
}

/* Theme: serif font */

.page.serif {
  font-family: "Philosopher", serif;
}

/* Theme: dark */

.page.dark {
  color: #fdfdff;
  background-color: #1d1f1f;
}

.page.dark .font-button-sans-serif {
  color: #fdfdff;
}

.page.dark .font-button-serif {
  color: #fdfdff;
}

.page.dark .theme-button-light {
  background-image: url("../img/sun-light.svg");
}

.page.dark .footer-logo-wrapper img,
.page.dark .logo img{
  filter: brightness(20);
}

.page.dark a {
  color: #fdfdff;
}

.page.dark a:hover {
  opacity: 0.5;
}

.page.dark a:active {
  opacity: 0.3;
}

.page.dark .account img {
  filter: brightness(20);
}

.page.dark .card-view-button-grid {
  background-image: url("../img/grid-light.svg");
}

.page.dark .card-view-button-list {
  background-image: url("../img/list-light.svg");
}

.page.dark .card {
  box-shadow: 0 4px 30px #181a1a;
}

.page.dark .meta time {
  color: rgba(253, 253, 255, 0.5);
}

.page.dark .share {
  filter: brightness(20);
}

.page.dark .socials-item img {
  filter: brightness(20);
}

.page.dark .post-share {
  filter: brightness(20);
}